html, body {
	height: 100%;
}
body {
	background: #323232;
	background: linear-gradient(to right, #191819, #222222, #323232);
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	color: var(--bs-white);
}
.bg {
	background-image: url('https://www.xtrafondos.com/wallpapers/montanas-minimalista-flat-3128.jpg');
	background-position: center center;
	background-size: cover;
}
.bg-w50 {
	backdrop-filter: blur(10px);
	background: linear-gradient(0deg, #0e1f2922, #132a3622, #22475f23);
}
.form-select,
.form-control {
	border: none;
	background:#132a3688!important;
	color:var(--bs-white);
}
.form-select::placeholder,
.form-control::placeholder {
	color: #444;
}
.form-select:focus,
.form-control:focus {
	border-color: transparent;
	background:#0e1f2988;
	color:var(--bs-white);
}
.bi-icons {
	font-size: 8rem;
	text-shadow: 0 0 10px #22475f, 0 0 20px #132a36, 0 0 30px #0e1f29;
}
/**
 * Registro
*/
.form-floating > #show_password {
	position: absolute;
	top: 24px;
	right: 12px;
	font-size: 1.4em;
	display: none;
}
.form-check > .help,
.form-floating > .help {
   position: absolute;
   top: 10px;
   right: 10px;
   font-size: 12px;
}
.form-floating > .help.ok { color: var(--bs-success); }
.form-floating > .help.error { color: var(--bs-danger); }
.form-floating > .help.info { color: var(--bs-primary); }
.form-floating > .help.loading { color: var(--bs-gray); }

/* Change Autocomplete styles in Chrome*/
*:-webkit-autofill,
*:-webkit-autofill:hover, 
*:-webkit-autofill:focus  {
	-webkit-text-fill-color: var(--bs-light);
	transition: background-color 5000s ease-in-out 0s;
	background-color: #213746;
}
.modal-content {
	background:  #162e3ea3;
	backdrop-filter:blur(5px);
}
.modal-header, .modal-footer {
	border:none;
}
.modal-footer {
	display:flex!important;
	justify-content:space-between!important;
}
.modal-content .form-control {
	background: #2225;
}
#RegistroForm > .boxed {
	width: 50%;
   margin: 3rem auto;
   text-align: justify;
   background-color: #0003;
   backdrop-filter: blur(3px);
   box-shadow: 0 0 10px #0005;
   border-radius: 5px;
}