*, *::after, *::before {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}
ol, ul {
   list-style: none
}
a, a:visited {
   color:#153976;
   text-decoration: none;
}
a:hover {
   text-decoration: underline;
}
*:focus {
	outline: 0;
}
/*
   Basicos
*/
.clear{clear: both !important;}
.fnormal{font-weight: normal!important;}
.parrafo {font-size: 13px; text-align: justify;}
hr {
   background-color: #E2E0E1;
   border:none;
   margin: 10px 5px;
   height: 1px;
}
/*
	General
	----------------------------------------------------------
*/	
body{
   background: #FFF;
   color: #171717;
   font: 12px/1.5 Arial,Tahoma,Helvetica,sans-serif;
	padding: 10px;
}
 #container {
   margin: 0 auto;
   padding: 0 20px 10px;
   position: relative;
   width: 920px;
   min-height: 600px;
}
/*
    Tamaños
*/
.s32 {
   font-size: 32pt;
   line-height: 32pt;
}
.s28 {
   font-size: 28pt;
   line-height: 28pt;
}
.s24 {
   font-size: 24pt;
   line-height: 24pt;
}
.s20 {
   font-size: 18pt;
   line-height: 20pt;
}
.s18 {
   font-size: 18pt;
   line-height: 18pt;
}
.s16 {
   font-size: 16pt;
   line-height: 16pt;
}
.s12 {
   font-size: 12pt;
   line-height: 12pt;
}
.left { float: left;}
.right { 
   line-height: 70px;
   text-align: right;
   vertical-align: bottom;
}
/*
	Header Superior
	----------------------------------------------------------
*/
#header {
   overflow: hidden;
   padding: 1em;
   position: relative;
}
#content {
   padding: 2em 1em;
}
#content .col_left{
   float: left;
   width: 200px;
}
#content .col_right {
   padding-left: 220px;
}
.menu li{
   background-color: #4D90FE;
   color:#FFF;
   padding: 6px;
   font-size: 14px;
   border-radius: 4px;
   margin-bottom: 6px;
}
.menu li.ok {
   background-color: #13468C;
}

/* FORMULARIOS */
h3.step_num {
   font-size: 18pt;
   line-height: 18pt;
   text-align: right;
}
#form fieldset {
   border: none;
   margin: 5px 0;
   padding: 10px;
   position: relative;
   font-family: Verdana;
   color: #536482;
}
#form legend {
   color: #0078A0;
   font-weight: bold;
   font-size: 12pt;
   line-height: 1.2em;
   margin-top: -0.4em;
   padding: 1px 0;
   position: relative;
   text-transform: none;
   top: -0.2em;
   vertical-align: middle;
}
#form fieldset dl {
   height: 1%;
   overflow: hidden;
   margin-bottom: 12px;
}
#form fieldset dt {
   padding-top: 3px;
   text-align: left;
   width: 45%;
   float: left;
}
#form dt label {
   color: #4A5A73;
   font-weight: bold;
   text-align: left;
   padding: 0 5px 0 0;
   cursor: pointer;
}
#form dt span {
   padding: 0 5px 0 0;
   font-size: 11px;
   color: #888;
   font-style: italic
}
#form dl:hover dt {border-color:#000}
#form dl:hover dt label {color:#000}
#form fieldset dd {
   margin: 0 0 0 45%;
   padding: 0 0 0 5px;
   vertical-align: top;
   color:#666;
}
#form dd input {
   border: 1px solid #CCC9;
   padding: 8px 12px;
   width: 100%;
   border-radius: 4px;
}
#form dd input::placeholder {
   color: #CCC;
   font-style: italic
}
#form dd label {
   color: #4A5A73;
   font-size: 1em;
   margin: 0 10px 0 0;
   white-space: nowrap;
}
#form fieldset p {
   background-color: transparent;
   border: medium none;
   margin: 0 0 10px;
   padding: 10px 0 0;
}
#form fieldset p input{
   cursor:pointer;
   float:right;
}
#form input.radio {
   background-color: transparent;
   border: medium none;
   cursor: default;
   width: auto !important;
}
span.status {
   font-weight: bold;
}
span.no {color:#bf0000;}
span.ok{color:#0BC087;}

div.error {
   background-color: #fff9da;
   padding: 8px;
   margin: 5px;
   text-align: center;
   color: #171717;
}

.gbqfb {
   background-color: #4D90FE;
   border-radius: 4px;
   color: white;
   display: inline-block;
   font-weight: bold;
   text-align: center;
   text-decoration: none;
   padding: 8px 12px;
   border: 0;
}
.gbqfb:active{
   -moz-box-shadow:inset 0 1px 2px rgba(0,0,0,.3);
   -webkit-box-shadow:inset 0 1px 2px rgba(0,0,0,.3);
   box-shadow:inset 0 1px 2px rgba(0,0,0,.3)
}

   
/* FOOTER */
#footer {
   margin: 10px 0;
}
#footer p{
   text-align: center;
   color:#555;
}
#footer a{
   color:#555;
   font-weight: bold;
}